.inverted {
  color: $white;
  background-color: $black;
  transition: all 0.15s ease-in-out;
  .header {
    background-color: $grey;
  }
  .countries {
    &-container {
      background-color: $dark-green;
      .country {
        &-single {
          background-color: $grey;
        }
        &-second-screen {
          background-color: $black;
        }
      }
    }
  }
}
.dark-mode {
  cursor: pointer;
  font-weight: 700;
}
