.header {
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  .inner {
    @include innerContent;
    justify-content: space-between;
    // padding: 22px 32px;
    .left {
      .heading {
        font-weight: 500;
        font-size: 1.5em;
      }
    }
    .right {
      i {
        padding-right: 6px;
      }
    }
  }
}
