.countries-container {
  position: relative;
  background-color: $cream;
  .search-inner {
    @include innerContent;
    justify-content: space-between;
    padding: 32px;
    @include sm {
      flex-direction: column;
      padding: 24px 16px 0px;
    }
    .search-input {
      min-width: 480px;
      display: flex;
      align-items: center;
      box-shadow: -2px 4px 26px -4px #0000008a;
      background-color: $white;
      @include sm {
        min-width: 340px;
        justify-content: center;
      }
      .fas {
        padding-left: 12px;
      }

      input {
        font-size: 1em;
        line-height: 1.5em;
        background-color: $white;
        width: 100%;
        padding: 0 24px;
        min-height: 60px;
        border: 0;
        border-radius: 4px;
        &:focus {
          outline: none;
        }
      }
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }
      .fa-times-circle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
    .search-filter {
      box-shadow: -2px 4px 26px -4px #0000008a;
      @include sm {
        margin-top: 16px;
      }
      /* The dropdown container */
      .dropdown {
        padding: 20px 12px;
        background-color: $white;
        min-width: 200px;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        &:hover {
          cursor: pointer;
        }
        /* Dropdown button */
        .dropbtn {
          border: none;
          outline: none;
          background-color: inherit;
          font-family: inherit; /* Important for vertical align on mobile phones */
          margin: 0; /* Important for vertical align on mobile phones */
          font-size: 1em;
        }
      }
      .navbar a:hover,
      .dropdown:hover .dropbtn {
        opacity: 0.6;
        transition: all 2s ease-in-out;
      }
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          float: none;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          color: $black;
          &:hover {
            background-color: $white;
            opacity: 0.6;
          }
        }
      }
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
        padding: 0 40px 0 0;
        right: 32px;
        top: 90px;
        margin-top: 8px;
        width: 100%;
        max-width: 200px;
      }
    }
  }
  //   countries
  .countries-inner {
    @include innerContent;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 16px;
    .country-single {
      background-color: $white;
      max-width: 270px;
      margin: 20px;
      box-shadow: -2px -1px 18px 4px #0000004d;
      // fix this hack!
      &:first-of-type {
        display: none;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: scale 1s ease-in-out;
      }
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .country-image-wrapper {
          .country-image {
            max-width: 100%;
            max-height: 160px;
            object-fit: cover;
          }
        }
        .content {
          padding: 22px 26px;
          .country-name {
            font-size: 1.25em;
          }
        }
      }
    }
  }
  .visible {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  .hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    display: none !important;
  }

  .country-second-screen {
    display: none;
    background-color: $cream;
    min-height: 100vh;
    @include sm {
      margin-top: 0;
    }
    .inner {
      @include innerContent;
      &:first-of-type {
        margin-top: 0;
        justify-content: flex-start;

        @include sm {
          align-items: flex-start;
          padding: 0px 32px;
        }
      }
      .back-button {
        box-shadow: -2px 4px 26px -4px #0000008a;
        padding: 12px 24px;
        border: 0px;
        margin: 32px 32px 0 0;
        background-color: transparent;
        span {
          padding: 8px 12px;
          line-height: 1.5rem;
        }
      }
    }

    .inner {
      @include innerContent;
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 32px;
      @include md {
        justify-content: stretch;
      }
      @include sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
      .flag-image {
        max-width: 560px;
      }
      .content {
        min-width: 600px;
        max-width: 640px;
        padding: 0 26px;
        @include md {
          min-width: 320px;
          max-width: 100%;
          padding: 0 22px;
        }
        @include sm {
          padding: 22px 12px;
        }
        .heading {
          padding-bottom: 16px;
          .country-name {
            font-size: 1.5rem;
          }
        }
        .details-wrapper {
          display: flex;
          flex-direction: column;
          p {
            margin: 0 0 1em;
          }
          .border-countries {
            h4 {
              padding-bottom: 8px;
            }
            .border-title {
              &:empty {
                display: none;
              }
              &:hover {
                opacity: 0.6;
                border: 1px solid $black;
              }
              display: inline-block;
              padding: 5px 10px;
              margin: 0 12px 12px 0;
              border-radius: 4px;
              box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}
