.countries-container {
  position: relative;
  background-color: $grey;
  min-height: 100vh;
  .search-inner {
    @include innerContent;
    justify-content: space-between;
    padding: 32px;
    @include sm {
      flex-direction: column;
    }
    .search-input {
      min-width: 480px;
      display: flex;
      align-items: center;

      .search-icon {
        position: relative;
        left: 30px;
      }
      input {
        font-size: 1em;
        font-family: Helvetica Neue, Arial;
        background-color: $white;
        width: 100%;
        padding: 0 12px 0 40px;
        min-height: 60px;
        border: 0;
      }
    }
    .search-filter {
      /* The dropdown container */
      .dropdown {
        padding: 20px 12px;
        background-color: $white;
        min-width: 200px;
        display: flex;
        justify-content: space-between;

        /* Dropdown button */
        .dropbtn {
          border: none;
          outline: none;
          background-color: inherit;
          font-family: inherit; /* Important for vertical align on mobile phones */
          margin: 0; /* Important for vertical align on mobile phones */
          font-size: 1em;
        }
      }
      .navbar a:hover,
      .dropdown:hover .dropbtn {
        opacity: 0.8;
        transition: all 2s ease-in-out;
      }
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          float: none;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          color: $black;
          &:hover {
            background-color: $white;
            opacity: 0.8;
          }
        }
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
        padding: 0 40px 0 0;
        right: 32px;
        top: 90px;
        margin-top: 8px;
        width: 100%;
        max-width: 200px;
      }
    }
  }
  //   countries
  .countries-inner {
    @include innerContent;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 16px;
    .country-single {
      background-color: $white;
      max-width: 270px;
      margin: 20px;
      // fix this hack!
      &:first-of-type {
        display: none;
      }
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .country-image {
          img {
            max-width: 100%;
          }
        }
        .content {
          padding: 22px 26px;
          .country-name {
            font-size: 1.25em;
          }
        }
      }
    }
  }
  .visible {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  .hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    // height: 0;
    // width: 0;
    // margin: 0 !important;
    display: none !important;
  }
}
