@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import "media-queries";
@import "variables";
@import "utilities";
@import "fonts";
@import "sections";
@import "hero";
@import "dark-mode";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// icons colour
.fa,
.fas {
  color: $black;
}
